<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235100149079-0b89a2ha5h0v9vce5t7du9iis4k15cub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235100149079-0b89a2ha5h0v9vce5t7du9iis4k15cub</string>
	<key>API_KEY</key>
	<string>AIzaSyDG5w2hFsUOzZDWzMcZxYp6DdC8PzfsG0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>235100149079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>bustracking-75371</string>
	<key>STORAGE_BUCKET</key>
	<string>bustracking-75371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235100149079:ios:d817b3530748df5df7da12</string>
</dict>
</plist>